.credits-wrapper {
	display: flex;
	flex-direction: row;
	border: 2px solid #d8dfe6;
	border-radius: 15px;
	padding: 15px;
	margin-top: 40px;
}

.label-column {
	display: flex;
	flex-direction: column;
	width: 50%;
	row-gap: 10px;
	align-items: flex-end;
}

.pay-label {
	width: 100%;
}

.credit-card-label {
	width: 70%;
}

.pay-group {
	display: flex;
	width: 100%;
	flex-direction: row;
	flex-wrap: wrap;
	column-gap: 20px;
	row-gap: 20px;
}

.pay {
	width: 30%;
	height: 85px;
	max-height: 85px;
	min-width: 144px;
	max-width: 150px;
	box-sizing: border-box;
	cursor: pointer;
	padding: 10px;
	background-color: #c5d5e6;
	border-radius: 10px;
	transition: all 0.3s ease-in-out 0s;
}

.pay:hover {
	transform: scale(1.1);
}

.selected-pay {
	background-color: #9c5d9a;
	transform: scale(1.1);
}

.credit-card {
	width: 100%;
	height: 190px;
	min-width: 270px;
	max-width: 340px;
	box-sizing: border-box;
	padding: 20px;
	background-color: #c5d5e6;
	border-radius: 10px;
}

.credit-card-column {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
}

.card-number-row {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	width: 100%;
	height: 50%;
	justify-content: space-between;
}

.card-row {
	display: flex;
	flex-direction: row;
	width: 100%;
	height: 70%;
	text-align: center;
	justify-content: space-around;
	align-items: center;
}

.card-row-small {
	display: flex;
	flex-direction: row;
	width: 100%;
	height: 30%;
	text-align: center;
	align-items: flex-end;
}

@media (max-width: 800px) {
	.credits-wrapper {
		flex-direction: column;
		padding: 0 15px 15px 15px;
	}
	.label-column {
		width: 100%;
		align-items: center;
		margin-top: 20px;
	}
}
