@font-face {
	font-family: Gilroy-ExtraBold;
	src: url(fonts/Gilroy/Gilroy-ExtraBold.otf);
}

@font-face {
	font-family: Gilroy-Light;
	src: url(fonts/Gilroy/Gilroy-Light.otf);
}

@font-face {
	font-family: Geometria-ExtraBold;
	src: url(fonts/Geometria/Geometria-ExtraBold.ttf);
}

@font-face {
	font-family: Geometria-Bold;
	src: url(fonts/Geometria/Geometria-Bold.ttf);
}

@font-face {
	font-family: Geometria;
	src: url(fonts/Geometria/Geometria.ttf);
}

@font-face {
	font-family: Geometria-Light;
	src: url(fonts/Geometria/Geometria-Light.ttf);
}

.container {
	width: 100%;
	max-width: 1000px;
	margin: 0 auto;
}

.row {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.col-23 {
	width: 23%;
}

.col-35 {
	width: 35%;
}

.col-40 {
	width: 40%;
}

.col-45 {
	width: 45%;
}

.col-100 {
	width: 100%;
}

.add-logo {
	margin-bottom: 15px;
	font-size: 15px;
}
